@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Syne", sans-serif;
    scroll-behavior: smooth;
    color: #222222;
}

:root {
    --black-color: #222222;
    --gray-color: #7a7777;
    --white-color: #ffffff;
    --red-color: #FD3B3B;

}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fastFadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fastFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#toptoScroll {
    position: fixed;
    right: 2rem;
    display: none;
    bottom: 3rem;
    padding: 1rem 1.15rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    font-weight: 700;
    transition: 300ms all;
    background-color: var(--red-color);
    z-index: 99;

    i {
        color: var(--white-color);
        font-size: 17px;
    }
}


.LoaderDiv {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    overflow: hidden;
    transition: 300ms all;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* =============================================================== */
/* =============================================================== */
/* navbar */
/* =============================================================== */
/* =============================================================== */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

nav {
    max-width: 80rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    height: 70px;
    padding: 1rem;
    position: relative;
}

nav img {
    height: 20.16px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
    display: block;
    padding: 0.5rem;
}

nav ul li a:hover {
    color: var(--red-color);
}

nav ul li #activeLink {
    color: var(--red-color);
}

nav .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.3rem;
}

nav .btns a {
    padding: 0.5rem 0 0.5rem 0.5rem;
    text-decoration: none;
    color: black;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
    display: block;
}

nav .btns a:hover {
    color: var(--red-color);
}

nav .btns p {
    color: var(--gray-color);
}

nav .btns button {
    padding: 0.9rem 2rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

nav .btns button:hover {
    background-color: transparent;
    color: var(--red-color);
}

nav .fa-bars {
    font-size: 21px;
    display: none;
    color: var(--black-color);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    nav ul {
        display: none;
    }

    nav .btns {
        display: none;
    }

    nav .fa-bars {
        display: block;
    }
}

/* responsive_navbar */
.responsive_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100vh;
    background-color: white;
    z-index: 999;
    overflow: hidden;
    -webkit-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
}

.responsive_navbar .content {
    padding: 2rem;
}

.responsive_navbar .content ul {
    margin-top: 2rem;
    list-style: none;
}

.responsive_navbar .content ul li a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
}

.responsive_navbar .content ul li a:hover {
    text-decoration: underline;
}

.responsive_navbar .content .fa-x {
    position: absolute;
    right: 2rem;
    top: 2.3rem;
    font-size: 19px;
    cursor: pointer;
}

.heroBg {
    max-width: 1340px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .heroBg {
        opacity: 10%;
    }
}

.mainSection {
    position: relative;
    max-width: 1340px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 95vh;
}

.mainSection .left {
    max-width: 490px;
    width: 100%;
}

.mainSection .left h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
}

.mainSection .left p {
    color: var(--gray-color);
    padding: 2rem 0;
    max-width: 280px;
    width: 100%;
}

.mainSection .left button {
    padding: 1rem 2rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.mainSection .left button:hover {
    background-color: transparent;
    color: var(--red-color);
}

@media only screen and (max-width: 800px) {
    .mainSection .left {
        max-width: unset;
        text-align: center;
    }

    .mainSection .left h1 {
        font-size: 40px;
    }

    .mainSection .left p {
        max-width: unset;
        padding: 1.2rem 0;
    }
}

.mainSection .mid img {
    width: 100%;
    padding: 0 5.5rem;
    -webkit-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
}

.mainSection .right {
    max-width: 204px;
    width: 100%;
    height: 100%;
}

.mainSection .right img {
    height: 50px;
    border-radius: 1rem;
    overflow: hidden;
}

.mainSection .right h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 0;
}

.mainSection .right p {
    color: var(--gray-color);
}

.mainSection .right .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.mainSection .right .btns button {
    padding: 0.8rem 1.5rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
    background-color: transparent;
    color: var(--red-color);
}

.mainSection .right .btns button:hover {
    color: var(--white-color);
    background-color: var(--red-color);
}

.mainSection .right a {
    text-decoration: none;
}

.mainSection .right a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .mainSection .right {
        display: none;
    }
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (max-width: 900px) {
    .mainSection {
        min-height: unset;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .mainSection .mid {
        margin-top: 3rem;
    }

    .mainSection .mid img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .mainSection {
        margin-top: 2.5rem;
    }
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.allLoges {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .allLoges {
        margin-bottom: 3rem;
    }
}

/* the cars */
.theCars {
    padding: 1rem;
    margin-top: 7rem;
}

.theCars p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.theCars h2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    padding-top: 0.3rem;
}

@media only screen and (max-width: 800px) {
    .theCars p {
        font-size: unset;
    }

    .theCars h2 {
        font-size: 35px;
    }
}

.theCars .cars {
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.theCars .cars .car {
    max-width: 280px;
    padding: 0.6rem;
    border-radius: 0.5rem;
    width: 100%;
    background-color: #222 8;
    -webkit-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
    padding-bottom: 1rem;
}

.theCars .cars .car:hover {
    -webkit-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
}

.theCars .cars .car img {
    border-radius: 0.5rem;
    width: 100%;
    height: 204px;
    -o-object-fit: cover;
    object-fit: cover;
}

.theCars .cars .car h2 {
    font-size: 24px;
    text-align: unset;
}

.theCars .cars .car .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2rem;
}

.theCars .cars .car .bottom .left p {
    color: var(--gray-color);
    font-size: 16px;
}

.theCars .cars .car .bottom .left h2 {
    font-size: 24px;
    font-weight: 700;
}

.theCars .cars .car .bottom button {
    padding: 0.8rem 1.7rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.theCars .cars .car .bottom button:hover {
    background-color: transparent;
    color: var(--red-color);
}

@media only screen and (max-width: 500px) {
    .theCars .cars .car {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .theCars .cars {
        margin-top: 2rem;
        gap: 1.3rem;
    }
}

@media only screen and (max-width: 800px) {
    .theCars {
        margin-top: 4rem;
    }
}

/* Why Choose Drivoxe? */
.choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 5.5rem;
}

.choose .left {
    max-width: 35%;
    width: 100%;
}

.choose .left h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
}

.choose .left p {
    margin-top: 3rem;
    color: var(--gray-color);
    max-width: 260px;
    font-size: 18px;
    width: 100%;
}

.choose .right {
    max-width: 65%;
    width: 100%;
}

.choose .right img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .choose {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2.5rem;
    }

    .choose .left {
        max-width: 100%;
    }

    .choose .left h2 {
        font-size: 35px;
    }

    .choose .left p {
        margin-top: 1rem;
    }

    .choose .right {
        max-width: 100%;
    }
}

.customers {
    background-color: #f6f1f1;
    padding: 4rem 1rem;
}

.customers h2 {
    text-align: center;
    color: var(--red-color);
    font-size: 24px;
    font-weight: 700;
}

.customers .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 80rem;
    width: 100%;
}

.customers .slider button {
    padding: 1rem 1.1rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.customers .slider button i {
    color: var(--white-color);
    font-size: 1.2rem;
}

.customers .slider button:hover {
    background-color: transparent;
    color: var(--red-color);
}

.customers .slider button:hover i {
    color: var(--red-color);
}

@media only screen and (max-width: 600px) {
    .customers .slider button {
        display: none;
    }
}

.customers .slider .sliderContent {
    max-width: 985px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.customers .slider .sliderContent h3 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.customers .slider .sliderContent img {
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

.customers .slider .sliderContent p {
    font-size: 20px;
    padding-top: 1rem;
    color: var(--gray-color);
}

@media only screen and (max-width: 800px) {
    .customers .slider .sliderContent h3 {
        font-size: 30px;
    }

    .customers .slider .sliderContent img {
        width: 50px;
        height: 50px;
    }
}

/* gallery */
.gallery {
    margin-top: 4rem;
    padding: 1rem;
}

.gallery p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.gallery h2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    padding-top: 0.3rem;
}

@media only screen and (max-width: 800px) {
    .gallery p {
        font-size: unset;
    }

    .gallery h2 {
        font-size: 35px;
    }
}

.gallery .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.8rem 1fr 0.8rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 3rem;
    gap: 0.8rem;
    width: 100%;
}

.gallery .wrapper .imgs {
    /* max-width: 25rem;
    */
    width: 100%;
    overflow: hidden;
    border-radius: 0.8rem;
}

.gallery .wrapper img {
    border-radius: 0.8rem;
    width: 100%;
    -webkit-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
}

.gallery .wrapper img:hover {
    scale: 1.1;
}

@media only screen and (max-width: 500px) {
    .gallery .wrapper .imgs {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .gallery .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

.ready {
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    margin-top: 4rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    height: 399.1px;
}

.ready img {
    height: 399.1px;
    width: 100%;
    border-radius: 1rem;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
    -o-object-fit: cover;
    object-fit: cover;
}

.ready .content {
    position: absolute;
    right: 5rem;
    max-width: 420px;
    width: 100%;
}

.ready .content h2 {
    font-size: 56px;
    font-weight: 700;
    color: var(--white-color);
}

.ready .content p {
    color: var(--white-color);
    padding: 1rem 0;
    font-size: 20px;
}

.ready .content .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    gap: 1rem;
}

.ready .content .btns img {
    height: 50px;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    border-radius: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .ready {
        margin-top: 2rem;
    }

    .ready .content {
        left: 2rem;
    }

    .ready .content h2 {
        font-size: 35px;
    }

    .ready .content .btns {
        gap: 1rem;
    }

    .ready .content .btns img {
        height: unset;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .ready .content {
        max-width: 320px;
    }

    .ready .content p {
        max-width: 300px;
        width: 100%;
    }

    .ready .content .btns {
        gap: 1rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ready .content .btns img {
        height: unset;
        max-width: 10rem;
        width: 100%;
    }
}

/* footer */
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    max-width: 80rem;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    gap: 2rem;
}

footer .first {
    max-width: 40%;
    width: 100%;
}

footer .first h2 {
    font-size: 50px;
    font-weight: 700;
}

footer .first p {
    font-weight: 500;
    font-size: 17px;
    color: var(--gray-color);
    padding: 1rem 0;
}

footer .first input {
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 100%;
    border: 2px solid var(--gray-color);
    border-radius: 10rem;
}

footer .first h3 {
    text-align: right;
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

footer .first h3:hover {
    text-decoration: underline;
}

footer .second {
    max-width: 17%;
    text-align: center;
    width: 100%;
}

footer .second h2 {
    font-size: 22px;
    padding-bottom: 1.5rem;
}

footer .second ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer .second ul li a {
    text-decoration: none;
}

footer .second ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    footer {
        margin-top: 3rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    footer .first {
        max-width: 100%;
    }

    footer .first h2 {
        font-size: 35px;
    }

    footer .first p {
        padding: 0.7rem 0;
    }

    footer .first input {
        margin-top: 1rem;
    }

    footer .second {
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    footer .first h2 {
        font-size: 30px;
    }
}

.copyRight {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* others pages */
/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* shop page */
.shopSection {
    margin-top: 3rem;
}

.shopSection p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.shopSection h2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    padding-top: 0.3rem;
}

.shopSection img {
    margin-top: 1.5rem;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .shopSection p {
        font-size: unset;
    }

    .shopSection h2 {
        font-size: 35px;
    }
}

.explore {
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    margin-top: 4rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    height: 399.1px;
}

.explore img {
    height: 399.1px;
    width: 100%;
    border-radius: 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
}

.explore .content {
    position: absolute;
    right: 5rem;
    max-width: 800px;
    width: 100%;
}

.explore .content h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
    padding: 1rem 0;
}

.explore .content p {
    color: var(--white-color);
    font-size: 20px;
}

.explore .content button {
    padding: 0.8rem 1.7rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.explore .content button:hover {
    background-color: transparent;
    color: var(--red-color);
}

@media only screen and (max-width: 800px) {
    .explore {
        margin-top: 2rem;
    }

    .explore .content {
        left: 2rem;
    }

    .explore .content h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .explore .content {
        max-width: 320px;
    }

    .explore .content p {
        max-width: 300px;
        width: 100%;
    }
}

/* --======================================================= */
/* --======================================================= */
/* --======================================================= */
/* about */
.reverse {
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    margin-top: 4rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    height: 399.1px;
}

.reverse img {
    height: 399.1px;
    width: 100%;
    border-radius: 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
}

.reverse .content {
    position: absolute;
    left: 5rem;
    max-width: 800px;
    width: 100%;
}

.reverse .content h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
    padding: 1rem 0;
}

.reverse .content p {
    color: var(--white-color);
    font-size: 20px;
}

.reverse .content button {
    padding: 0.8rem 1.7rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.reverse .content button:hover {
    background-color: transparent;
    color: var(--red-color);
}

@media only screen and (max-width: 800px) {
    .reverse {
        margin-top: 2rem;
    }

    .reverse .content {
        left: 2rem;
    }

    .reverse .content h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .reverse .content {
        max-width: 320px;
    }

    .reverse .content p {
        max-width: 300px;
        width: 100%;
    }
}

.pickCar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 80rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.pickCar button {
    padding: 1rem 1.1rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.pickCar button i {
    color: var(--white-color);
    font-size: 1.2rem;
}

.pickCar button:hover {
    background-color: transparent;
    color: var(--red-color);
}

.pickCar button:hover i {
    color: var(--red-color);
}

.pickCar p {
    font-size: 20px;
    font-weight: 600;
}

.redCar {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
}

.redCar img {
    width: 80%;
}

.redCar .content {
    max-width: 400px;
    width: 100%;
    position: absolute;
    padding: 3rem 1.5rem;
    right: 1rem;
    top: 0rem;
    background-color: var(--white-color);
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.redCar .content h3 {
    font-weight: 600;
    font-size: 20px;
}

.redCar .content h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    padding: 1rem 0 1.5rem 0;
}

.redCar .content p {
    color: var(--gray-color);
}

@media only screen and (max-width: 900px) {
    .redCar .content {
        position: unset;
        max-width: unset;
        -webkit-box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
        box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
    }
}

@media only screen and (max-width: 900px) {
    .redCar .content {
        padding: 0 0.7rem;
        padding-top: 1rem;
    }

    .redCar .content h2 {
        font-size: 35px;
        padding: 1rem 0 1rem 0;
    }
}

@media only screen and (max-width: 900px) {
    .redCar {
        margin-top: 0;
    }

    .redCar img {
        width: 100%;
    }
}

.whyChoose {
    margin-top: 4rem;
}

.whyChoose h2 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.whyChoose .cards {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.whyChoose .cards .card {
    background-color: #f8f8f8;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 656px;
    width: 100%;
    border: 2px solid #f8f8f8;
    -webkit-transition: 400ms all;
    -o-transition: 400ms all;
    transition: 400ms all;
}

.whyChoose .cards .card .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.whyChoose .cards .card p {
    margin-top: 2rem;
    color: var(--gray-color);
}

.whyChoose .cards .card:hover {
    background-color: transparent;
    border: 2px solid var(--red-color);
}

@media only screen and (max-width: 800px) {
    .whyChoose {
        margin-top: 3rem;
    }

    .whyChoose h2 {
        font-size: 35px;
    }

    .whyChoose .cards {
        margin-top: 1.5rem;
    }
}

/* contact us */
/* ========================================== */
/* ========================================== */
/* ========================================== */
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 3.5rem;
    gap: 3rem;
}

.contact .left {
    max-width: 50%;
    width: 100%;
    border: 2px solid #000 3e;
    padding: 2rem;
    border-radius: 1rem;
}

.contact .left input,
.contact .left textarea {
    width: 100%;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #000 3e;
    resize: none;
    margin-top: 2.5rem;
}

.contact .left button {
    padding: 0.9rem 2rem;
    border: 2px solid var(--red-color);
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--red-color);
    margin-top: 1rem;
    width: 100%;
    color: var(--white-color);
    font-weight: 700;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.contact .left button:hover {
    background-color: transparent;
    color: var(--red-color);
}

.contact .right {
    max-width: 50%;
    width: 100%;
}

.contact .right img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-top: 1.5rem;
        gap: 2.5rem;
    }

    .contact .left {
        max-width: 100%;
    }

    .contact .left h2 {
        font-size: 35px;
    }

    .contact .left p {
        margin-top: 1rem;
    }

    .contact .right {
        max-width: 100%;
    }
}